#*
模板描述：用户中心，激活密码通知邮件
输入参数：
        link    激活链接地址
        <a>标签要加上target="_blank"
*#
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>重置密码</title>
    <!--bootstrap.css-->
    <link href="${resPrefixUrl}/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <!--index.css-->
    <link href="${resPrefixUrl}/stylesheets/register.css" rel="stylesheet" type="text/css"/>
    <!--vaildator.css-->
    <link rel="stylesheet" href="${resPrefixUrl}/bower_components/bootstrapvalidator/dist/css/bootstrapValidator.css">
</head>
<body class="register-bg">
<!--  container -->

<div class="register-header">
    <div class="box">
        <a a href="#" onclick="window.open('${globalOfficialWebsiteUrl}')">
            <img class="logo" src="${resPrefixUrl}/images/index/logo_top.png"/></a>
        <div class="text">
            如果有壹耘账号，<a href="${host}/login">立即登录</a>
        </div>
    </div>
</div>


<div class="register_container">
    <div class="row box">
        <div class="col-md-12 text-left article-box">
            <p class="size16"><strong>尊敬的用户：</strong></p>
            <br/>
            <p>以下为壹耘为您账号设置的密码，密码为随机生成！</p>
            <br/>
            <font size="8px" style="color: #018ccd;font-weight:bold;">${password}</font>
            <br/>
            <br/>
            <br/>
            <p>请注意：</p>
            <p>为安全起见，请尽快修改密码。</p>
            <p>如果您没有联系壹耘平台客服人员发起设置密码的请求，请联系客服人员${phone}。</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <p>壹耘团队</p>
            <p>${date}</p>
        </div>
    </div>
</div>
<!--/container -->
<!--footer-->
<div class="register_footer">
    <p>Copyright 2016 壹耘 粤ICP备16048993号 All Rights Reserved 广州流水行云科技有限公司</p>
</div>
<!--/footer-->



<!--jquery-->
<script src="${resPrefixUrl}/bower_components/jquery/dist/jquery.min.js"></script>
<!--bootstrapvalidator-->
<script src="${resPrefixUrl}/bower_components}/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>


</body>
</html>