<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextName>yunhuni-app-portal-api</contextName>
    <property name="APP_NAME" value="app-portal-api" />
    <property name="systemId" value="app.portal.api" />
    <include resource="logback-yunhuni.xml"/>


    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="gelf" />
        <!--<appender-ref ref="ROLLINGFILE"/>-->
    </root>
</configuration>