<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextName>user-demo</contextName>
    <property name="APP_NAME" value="user-demo" />
    <property name="APP_NAME" value="user.demo" />
    <include resource="logback-yunhuni.xml"/>
    <logger name="com.lsxy" level="DEBUG" additivity="true" />

</configuration>