<div class="hesyun_wos order">
	<dl class="order-btn">
		<dt>&nbsp;&nbsp;创建新工单</dt>
		<dd class="hesyun_create_wo">
			<img src="http://www.hesyun.net/res/resources/images/dan01.png" alt="">
			<h3>基本工单</h3>
		</dd>
	</dl>
	<!--  <button class="hesyun_create_wo">基本工单</button> -->
	<div class="hesyun_new_default_wo_div"></div>
</div>
<div class='element-separator'><hr><h3 class='section-break-title'></h3></div>
<div class="hesyun_wo_historys">
	<h3>历史工单</h3>
	<div id="hesyun_history_wo"></div>
</div>