<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextName>api-gateway</contextName>
    <property name="APP_NAME" value="api-gateway" />
    <include resource="logback-yunhuni.xml"/>
    <logger name="com.lsxy" level="DEBUG" additivity="true" />
    <logger name="org.springframework.security" level="DEBUG" additivity="true" />

</configuration>