<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextName>api-gateway</contextName>
    <property name="APP_NAME" value="api-gateway" />
    <property name="systemId" value="api.gateway" />
    <include resource="logback-yunhuni.xml"/>
    <logger name="com.lsxy" level="DEBUG" additivity="true" />
    <logger name="org.springframework.security" level="INFO" additivity="true" />
    <logger name="com.lsxy.framework.web.utils.WebUtils" level="INFO" additivity="true" />
    <logger name="com.lsxy.app.api.gateway.security.ip.BlackIpListFilter" level="INFO" additivity="false" />

</configuration>