<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextName>app-backend</contextName>
    <property name="APP_NAME" value="app-backend" />
    <property name="systemId" value="app.backend" />
    <include resource="logback-yunhuni.xml"/>
    <logger name="com.lsxy" level="DEBUG" additivity="true" />


</configuration>